.produtos-em-destaque {
  width: 22.375rem;
  height: 2.625rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: var(--dark);
  margin-bottom: 70px;
}

.rectangle23 {
  position: absolute;
  width: 5.6px;
  height: 5.6px;
  left: 349.4px;
  top: 1226.4px;
  background: var(--primary);
  border-radius: 0px 0px 0px 5px;
}

.rectangle22 {
  position: absolute;
  width: 5.6px;
  height: 5.6px;
  left: 338.2px;
  top: 1226.4px;
  background: var(--primary);
  border-radius: 0px 0px 0px 5px;
}

.rectangle21 {
  position: absolute;
  width: 5.6px;
  height: 5.6px;
  left: 327px;
  top: 1226.4px;
  background: var(--primary);
  border-radius: 0px 0px 0px 5px;
}

.rectangle20 {
  position: absolute;
  width: 5.6px;
  height: 5.6px;
  left: 327px;
  top: 1215.2px;
  background: var(--primary);
  border-radius: 0px 0px 0px 5px;
}

.rectangle19 {
  position: absolute;
  width: 5.6px;
  height: 5.6px;
  left: 338.2px;
  top: 1215.2px;
  background: var(--primary);
  border-radius: 0px 0px 0px 5px;
}

.rectangle18 {
  position: absolute;
  width: 5.6px;
  height: 5.6px;
  left: 349.4px;
  top: 1215.2px;
  background: var(--primary);
  border-radius: 0px 0px 0px 5px;
}

.rectangle17 {
  position: absolute;
  width: 5.6px;
  height: 5.6px;
  left: 349.4px;
  top: 1204px;
  background: var(--primary);
  border-radius: 0px 0px 0px 5px;
}

.rectangle16 {
  position: absolute;
  width: 5.6px;
  height: 5.6px;
  left: 338.2px;
  top: 1204px;
  background: var(--primary);
  border-radius: 0px 0px 0px 5px;
}

.rectangle15 {
  position: absolute;
  width: 5.6px;
  height: 5.6px;
  left: 327px;
  top: 1204px;
  background: var(--primary);
  border-radius: 0px 0px 0px 5px;
}

.novePontos {
  height: 199px;
}

.produtos-destaque {
  width: 1274px;
  margin: 0 auto;
}

.cardProduto {
  display: flex;
}

.card {
  width: 350px;
  height: 602px;
  box-shadow: 0px 4px 20px 7px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.imagem {
  width: 200px;
  height: 407px;
  margin-top: 50px;
  margin-left: 60px;
}

.divisoria {
  width: 350px;
  height: 2px;
  background: var(--primary);
}

.tabelaPreco {
  width: 350px;
  height: 185px;
  background: #f5f5f5;
  border-radius: 0px 0px 10px 10px;
}

.tituloProduto {
  width: 58px;
  height: 16px;
  margin-top: 44px;
  margin-left: 55px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: var(--dark);
}

.preco {
  width: 84px;
  height: 21px;
  margin-top: 15px;
  margin-left: 55px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;

  color: var(--dark);
}

.botaoProduto {
  width: 240px;
  height: 52px;
  margin-top: 20px;
  margin-left: 55px;
  background: var(--primary);
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: 1s;
}

.botaoProduto:hover {
  background: var(--dark);
}

.botaoProdutoComprado {
  width: 240px;
  height: 52px;
  margin-top: 20px;
  margin-left: 55px;
  background: var(--dark);
  text-decoration: none;
  border-radius: 5px;
  border: none;
}

.spanComprar {
  color: var(--light);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
}
