header {
  background-image: url("../../assets/img/principal_banner_desktop.jpg");
  height: 840px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.centralInfo {
  width: 1274px;
}

.zelda {
  position: relative;
}

/*Banner-zelda*/

.banner-container1, .banner-container2 {
  position: relative;
}

.zelda-banner {
  width: 627px;
  height: 368px;
  background: url("../../assets/img/zelda_banner.jpg");
}

.banner-card {
  width: 627px;
  margin-bottom: 20px;
}

.banner-card-footer {
  width: 627px;
  height: 61px;
  background: var(--primary);
  border-radius: 5px;
  border-left: 11px solid var(--dark);
  /* border-radius: 0px 0px 0px 5px; */
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: var(--dark);
  padding: 20px;
}

.card-footer-line {
  display: block;
  width: 248px;
  border: 1px solid var(--dark);
  float: right;
  margin-top: 10px;
}

.banner {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
  margin-top: 125px;
  align-items: end;
}

.rectangle10 {
  position: absolute;
  width: 627px;
  height: 61px;
  left: 323px;
  top: 1055px;
  background: var(--primary);
  border-radius: 5px;
}

.rectangle11 {
  position: absolute;
  width: 11px;
  height: 61px;
  left: 323px;
  top: 1055px;
  background: var(--dark);
  border-radius: 0px 0px 0px 5px;
}

.line4 {
  position: absolute;
  width: 248px;
  height: 0px;
  left: 676px;
  top: 1086px;
  border: 1px solid var(--dark);
}

.line4-description {
  position: absolute;
  width: 299px;
  height: 19px;
  left: 353px;
  top: 1076px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: var(--dark);
}

/*Banner-sekira*/

.sekira-banner {
  width: 627px;
  height: 368px;
  background: url("../../assets/img/sekiro_banner.jpg");
}

.rectangle13 {
  position: absolute;
  width: 10px;
  height: 61px;
  left: 970px;
  top: 1055px;
  background: var(--dark);
  border-radius: 0px 0px 0px 5px;
}

.line5 {
  position: absolute;
  width: 247px;
  height: 0px;
  left: 1323px;
  top: 1086px;
  border: 1px solid var(--dark);
}

.line5-description {
  position: absolute;
  width: 217px;
  height: 19px;
  left: 999px;
  top: 1076px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: var(--dark);
}

.rectangle12 {
  position: absolute;
  width: 627px;
  height: 61px;
  left: 970px;
  top: 1055px;
  background: var(--primary);
  border-radius: 5px;
}

.description-mortalKombat {
  width: 420px;
  height: 163px;
  left: 1015px;
  top: 373px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 155%;
  text-align: right;
  color: var(--light);
}

/* ,99 */

.segundo-preco {
  width: 40px;
  height: 33px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;
  color: var(--primary);
}

/* R$ 299 */

.primeiro-preco {
  height: 82px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 82px;
  color: var(--primary);
  display: inline-block;
}

/* MORTAL KOMBAT */

.mortal-Kombat {
  width: 384px;
  height: 54px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 54px;
  color: var(--light);
}

.banner-mortalKombat {
  max-width: 1920px;
  height: 840px;
  left: 0px;
  top: 0px;
  background: url("../../assets/img/principal_banner_desktop.jpg");
}

.banner-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 720px) {
  .card {
    width: 236.5px;
    height: 423px;
    left: 69px;
    top: 1055px;
  }

  .banner-section {
    flex-direction: column !important;
    text-align: center !important;
  }
  
}