.menuNavegacao {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-top: 44px;
  margin: 0 auto;
}

.navegacoesMenu {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.hamburgue {
  position: relative;
}

.navContato, .navBuscar, .navShopping {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
}

.navContato a {
  padding-right: 40px;
}

.navBuscar p {
  padding-right: 40px;
}

.navContato, .navBuscar {
  border-right: 1px solid var(--light);
  width: 150px;
}

.contato {
  color: var(--light);
}

.icon {
  width: 34px;
  height: 29px;
  margin-right: 15px;
}

.shoppingCirculo {
  width: 1.4375rem;
  height: 1.4375rem;
  background: var(--primary);
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Menu Hamburguer*/

.itensHamburgue {
  position: absolute;
  width: 565px;
  height: 249px;
  left: -28px;
  top: 60.48px;
  background: var(--dark);
  border: 2px solid var(--primary);
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 10px 10px 0px var(--primary);
}

.sombraItensHamburgue {
  position: absolute;
  width: 565px;
  height: 249px;
  left: 9px;
  top: 12.48px;
  background: var(--primary);
  border-radius: 5px;
}

.indicadoHamburgue {
  position: absolute;
  width: 18.37px;
  height: 18.37px;
  left: 29.98px;
  top: -10.01px;
  background: var(--primary);
  transform: rotate(135deg);
}

.lutaHamburgue {
  position: absolute;
  width: 32px;
  height: 19px;
  left: 45px;
  top: 45px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: var(--light);
}

.jogosLuta {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding: 8px;
  white-space: nowrap;
  color: var(--light);
}

.jogosLuta:hover {
  width: 160px;
  cursor: pointer;
  background: var(--primary);
  border-radius: 5px;
}

.tituloJogo {
  margin-bottom: 19px;
  margin-left: 10px;
}

.tituloJogos {
  margin-bottom: 19px;
}

.tituloJogos {
  position: absolute;
  width: 120px;
  height: 19px;
  left: 9px;
  top: -42px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: var(--light);
}

.aventuraHamburgue {
  position: absolute;
  width: 79px;
  height: 124px;
  left: 231px;
  top: 86px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--light);
}

.CorridaHamburgue {
  position: absolute;
  width: 79px;
  height: 124px;
  left: 413px;
  top: 86px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--light);
}

@media only screen and (max-width: 720px) {
  .buscar, .contato {
    display: none;
  }

  .navContato, .navBuscar {
    border: none;
  }
}