@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

:root {
  --primary: #3ec6e0;
  --light: #ffffff;
  --dark: #084154;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
